<%-include("header")-%>
<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laboriosam praesentium doloremque temporibus! Ex
    necessitatibus mollitia aliquam corrupti dolorum quasi adipisci vel quia dolor autem hic animi, facere tempora
    ipsam?</p>

    <%-include("footer")-%>